attrs>=17.4.0
pylint>=1.8.2
flake8
mypy
networkx>=2.1
frozendict==1.2
typing_extensions
sortedcontainers==1.5.10
pyyaml==3.12
sklearn
scipy==1.0.0
openpyxl==2.4.7

nose
nose-exclude
coverage
flexnlp
FlexNLP-sandbox
